body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.header {
  text-align: center;
}

.score-section {
  display: flex;
  gap: 2%;
  flex-direction: row;
  justify-content: center;
}

.score-container {
  border: 2px solid rgb(119, 138, 122);
  padding: 0;
  line-height: 2rem;
}

.score-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.refresh,
#submit {
  height: 2rem;
  width: 5rem;
  background-color: rgb(73, 168, 87);
  border: none;
  color: white;
  border-radius: 0.2rem;
}

li { background: rgb(233, 235, 233); }
li:nth-child(odd) { background: rgb(255, 255, 255); }

#name,
#score {
  margin-bottom: 0.4rem;
  height: 1.5rem;
  width: 60%;
}

.score-list-container,
.form-container {
  background-color: white;
  padding: 3rem;
  width: 30%;
  box-shadow: 5px 5px 5px rgb(169, 167, 167);
}

@media (max-width: 768px) {
  .score-section {
    display: flex;
    gap: 2%;
    flex-direction: column-reverse;
    justify-content: left;
    align-items: center;
  }

  .score-list-container,
  .form-container {
    width: 75%;
  }
}
